{% extends 'landing/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-light">Back To Feed</a>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h5>Post</h5>
        </div>
    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <div>
                <a class="text-primary remove-default-link" href="{% url 'profile' post.author.profile.pk %}">
                    <img class="rounded-circle post-img" height="30" width="30"
                        src="{{ post.author.profile.picture.url }}" alt="" />
                </a>
                <p class="post-text">
                    <a class="text-primary remove-default-link"
                        href="{% url 'profile' post.author.profile.pk %}">@{{ post.author}} </a>|
                    {{ post.created_on }}
                </p>
            </div>
            <p>{{ post.body }}</p>
            {% if post.image %}
            <img src="{{ post.image.url }}" alt="" class="post-image" />
            {% endif %}
            <div class="d-flex flex-row">
                <form action="{% url 'like' post.pk %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="fa-regular fa-thumbs-up"><span> {{ post.likes.all.count }}</span></i>
                    </button>
                </form>
                <form action="{% url 'dislike' post.pk %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="fa-regular fa-thumbs-down"><span> {{ post.dislikes.all.count }}</span></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            <form method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12 border-bottom">
            <h5>Comments</h5>
        </div>
    </div>
    {% for comment in comments %}
    {% if comment.is_parent %}
    <div class="row justify-content-center mt-3 mb-5 ">
        <div class="col-md-5 col-sm-12 border-bottom">
            <a class="text-primary remove-default-link" href="{% url 'profile' comment.author.profile.pk %}">
                <img class="rounded-circle post-img" height="30" width="30"
                    src="{{ comment.author.profile.picture.url }}" alt="" />
                <p class="post-text">
                    @{{ comment.author }}
            </a>

            |
            {{ comment.created_on }}
            </p>
            <p>{{ comment.comment }}
                {% if request.user == comment.author %}
                <a href="{% url 'comment-edit' post.pk comment.pk %}" class="edit-color"><i
                        class="fa-regular fa-pen-to-square"></i></a>
                <a href="{% url 'comment-delete' post.pk comment.pk %}" class="edit-color"><i
                        class="fa-solid fa-trash"></i></a>
                {% endif %}
            </p>
            <div class="d-flex flex-row">
                <form action="{% url 'comment-like' post.pk comment.pk %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="fa-regular fa-thumbs-up"><span> {{ comment.likes.all.count }}</span></i>
                    </button>
                </form>
                <form action="{% url 'comment-dislike' post.pk comment.pk %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}">
                    <button class="remove-default-btn" type="submit">
                        <i class="fa-regular fa-thumbs-down"><span> {{ comment.dislikes.all.count }}</span></i>
                    </button>
                </form>
                <div>
                    <button class="remove-default-btn" onclick="commentReplyToggle('{{ comment.pk }}')">
                        <i class="fa-regular fa-comment-dots"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5 d-none" id="{{ comment.pk }}">
        <div class="col-md-5 col-sm-12">
            <form method="POST" action="{% url 'comment-reply' post.pk comment.pk %}">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success mt-3">Submit!</button>
                </div>
            </form>
        </div>
    </div>
    {% for child_comment in comment.children %}
    <div class="row justify-content-center mt-3 mb-5 child-comment">
        <div class="col-md-5 col-sm-12 border-bottom">
            <a class="text-primary remove-default-link" href="{% url 'profile' child_comment.author.profile.pk %}">
                <img class="rounded-circle post-img" height="30" width="30"
                    src="{{ child_comment.author.profile.picture.url }}" alt="" />
                <p class="post-text">
                    @{{ child_comment.author }}
            </a>

            |
            {{ child_comment.created_on }}
            </p>
            <p>{{ child_comment.comment }}
                {% if request.user == child_comment.author %}
                <a href="{% url 'comment-edit' post.pk child_comment.pk %}" class="edit-color"><i
                        class="fa-regular fa-pen-to-square"></i></a>
                <a href="{% url 'comment-delete' post.pk child_comment.pk %}" class="edit-color"><i
                        class="fa-solid fa-trash"></i></a>
                {% endif %}
            </p>
        </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endfor %}
</div>
{% endblock content %}